Опыт разработки на Java не менее 1 года, понимание синтаксиса и механизмов работы языка;
Понимание принципов работы Git, умение работать с ветками, pull-requests, понимание merge и rebase;
Знание принципов работы реляционных баз данных (базовые операции, транзакции, индексы), умение писать SQL-запросы, понимание алгоритмов обработки SQL-запросов;
Хорошее знание принципов ООП, шаблонов проектирования, умение их применять.
Умение работать с операционными системами семейства Linux.
Знания: Java 8/11;
Понимание принципов работы Spring framework с опытом его использования;
JSP;
Hibernate ORM;
REST



Middle java-разработчик, опыт работы от 3 лет;
Опыт программирования на Java 7, 8;
Опыт программирования на PL/SQL и работы с PostgreSQL;
Знание веб-технологий HTML, CSS, JavaScript;
Приветствуется опыт работы с технологиями Spring, Hibernate, JSF,Mercurial, Git.

Опыт разработки на Java не менее 1 года, понимание синтаксиса и механизмов работы языка;
Понимание принципов работы Git, умение работать с ветками, pull-requests, понимание merge и rebase;
Знание принципов работы реляционных баз данных (базовые операции, транзакции, индексы), умение писать SQL-запросы, понимание алгоритмов обработки SQL-запросов;
Хорошее знание принципов ООП, шаблонов проектирования, умение их применять.
Умение работать с операционными системами семейства Linux.
Знания: Java 8/11;
Понимание принципов работы Spring framework с опытом его использования;
JSP;
Hibernate ORM;
REST

Must have
Java Core
Relational DB, SQL, Maven, Junit, Git
Английский (B2 – Upper - Intermediate)
Nice to have
WorkFusion expertise: ODF/ODF2
Selenium


Опыт работы с MongoDB, cервером приложений JBoss Enterprise Application Server, Spring Boot Framework, системой автоматической сборки Gradle, GitLab.
Понимание основ XML/XSD. Конвертация XML/SOAP в JSON/REST, процессов интеграции средствами WEB-сервисов.
Понимание и опыт работы (минимальное проектирование и администрирование, уверенные знания SQL-запросов) с реляционными и документоориентированными базами данных.
Уверенные знания в Vue.js, JavaScript, HTML5, CSS3.
Наличие опыта проектирования ПО на базе REST, SOAP(s), Microservices pattern, использование нотаций BPMN 2.1 (2.0) и IDEF1X (IDEF0).
Желательно

Опыт профессиональной разработки программного обеспечения от 3-х лет.
Понимание протокола HTTP и опыт работы с внешними API (REST).


Middle java-разработчик, опыт работы от 3 лет;
Опыт программирования на Java 7, 8;
Опыт программирования на PL/SQL и работы с PostgreSQL;
Знание веб-технологий HTML, CSS, JavaScript;
Приветствуется опыт работы с технологиями Spring, Hibernate, JSF,Mercurial, Git.

Java Developer, remote, стек - Java, Oracle, Spring Boot, MPPs,Apache, Kafka
Java Developer, гибрид, офис или полная удаленка, стек - Java, Spring, PostgreSQL, MongoDB,Kubernetes.


Стек - Java, AWS, Lamba -  понятно только Java. Что такое AWS и Lambda